<html><head>
    <meta charset="utf-8">

    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/home2.css">

<script async="" defer="" src="js/pixel.js"></script></head>

<body>
    
<script>
  window.pixelId = "6674cd95e9e61a00f76c69fe";
  var a = document.createElement("script");
  a.setAttribute("async", "");
  a.setAttribute("defer", "");
  a.setAttribute("src", "https://cdn.utmify.com.br/scripts/pixel/pixel.js");
  document.head.appendChild(a);
</script>


    <header class="fluid-container p-3 d-flex w-100 justify-content-center text-center justify-content-between" style="background:green !important;">
        <div class="d-flex mobile-flex align-items-center" style="gap:.5rem">
       <span style="font-size:1.3rem; color:#fff;"> Music Play</span>

        </div>
        <div class="d-flex align-items-center">
    <span class="text-center" style="color:#fff; font-size:1.3rem !important;"><img style="height:1.2rem; margin-right:.3rem" src="images/wallet.png"> </span>
    <span style="color:#fff; ">R$ <span class="saldo">100<span></span>
        </span></span></div>
      </header>
      <img class="detalhe2" src="images/Untitled%20design%20%2810%29%20%281%29.png">

  <!--  
    <span style="color:#fff;" class="mt-5">Olá {{user.username}}    </span>
   
-->

<div class="container d-flex justify-content-center flex-column align-items-center">
    <span class="d-none text-center mt-4 mb-3" style="color:#fff; font-size:1.2rem">Temporizador: <span class="timer">0</span></span> 


    <span class="text-center mt-5 mb-5" style="color:#fff; font-size:1rem">Pronto, playlist criada.<br>
        Agora basta apertar o play para ganhar....
        </span> 
 
 
    <div class="d-none">
    <span>{{user.username}}</span>
    {% if user.is_authenticated %}
    <form class="d-flex align-items-center " action="{% url 'logout" method="post">
        {% csrf_token %}
        <button type="submit" class="nav-item nav-link" style="border:none; background:none;">Sair</button>
    </form>
{% endif %}    

</div>

   <span class="text-center mb-2" style="color:#fff; font-size:1rem">Uau, olha só quanto você ja ganhou hoje...</span> 
  
    <div class="progress-bar" style="width:30rem; position: relative; height: .5rem; background: rgb(193, 190, 190);">
    <span class="inner-bar" style="position: absolute; background: rgb(33, 149, 33); height: 100%; left: 0px; top: 0px; width: 100%;"></span></div>
</div> 
<div class="d-flex align-items-center justify-content-center mt-2" style="gap:.5rem">    <img style="height:1.4rem" src="images/moedas%20%281%29.png">
    <span class="text-center" style="color:#fff; font-size:1.2rem"> R$ <span class=" saldo" style="color:#fff; font-size:1.2rem">100</span> </span>  </div>
<div class="container d-flex justify-content-center align-items-center mt-5">

<button class="dobroBtn" style="display: none; background: rgb(255, 238, 238); padding:.7rem 2rem; font-size:2rem; border-radius:30px; outline: none; border: none; box-shadow: rgb(117, 255, 117) 5px 5px;">RECEBA EM DOBRO</button>

</div>

<div class="container mt-3 mb-5">
    <div class="d-flex container flex-column justify-content-center align-items-center" style="max-width:40rem;   border-radius:15px;">
<img style="height: 17rem;" src="images/Untitled%20design.png">
<span class="music mt-2 text-center" style="font-size: 1rem; font-weight: 500; color:#fff !important; padding:.7rem 4.5rem; border-radius:70px; border:solid 4px #fff; box-shadow: #fff 0px 0px 20px;"> Music Pay</span>

<span class="mt-5 text-center" style="color:#fff; font-size:1rem;">  O APP QUE TE PAGA PRA DAR UM PLAY</span>

<div class=" mt-4 d-flex text-center player align-items-center player" style="border-radius:4px; padding:1.2rem 2rem; gap:3.5rem;">
  
    <img style="height:3rem" class="repetir" src="images/repetir.png">

    <img id="prev" style="height:3rem; transform: rotate(180deg);" src="images/proximo.png">

    <img id="play" style="height:3rem" src="images/botao-play-ponta-de-seta.png">


    <img id="next" style="height:3rem" src="images/proximo.png">
    <img style="height:3rem" class="compartilhar" src="images/compartilhar.png">



</div>

<span class="mt-4 text-center" style="color:#fff; font-size:1.2rem;" id="current-track-name">Gusttavo Lima -(Music PAY APP)</span>

<div class="d-flex justify-content-start align-items-center flex-column w-100">


</div>

    </div>

</div>
<script>
    localStorage.setItem('isUserLoggedIn', true);
</script>
<div class="main-container align-items-center justify-content-center" style="background:rgba(0, 0, 0, 0.35);top:0; height: 100vh; width:100vw; position: fixed; display: none; ">

    <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column p-4  align-items-center" style="width:30rem; max-width:100%; background: #fff; border-radius:12px;">

        <span class="mt-1">Saldo Atualizado!</span>
        <span class="mt-3" style="font-size:1rem">Você recebeu:</span>
        <span class="mt-1" style="font-size:2rem; font-weight: 900;">R$ 69.00</span>
        <span class="mt-1" style="font-size:1rem">Pelo código da Nike</span>



    </div>
</div>

</div>
<div id="minhaDiv" style="color:#fff"></div>

<div class="fluid-container mb-4 d-flex justify-content-center align-items-center flex-column text-center w-100" style="border-top:solid 2px rgb(54, 218, 54);">


<script src="js/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<a id="meuBotao2" href="https://musicpay-pagamento.vercel.app/" class="mb-2 mt-5">
    <img style="height:4rem; width:4rem; border-radius:50%;" src="images/Untitled_design__17_-removebg-preview%20%281%29%20%281%29.png" alt="Ícone de pagamento">
</a>
<div class="d-none" id="temporizador" style="color:#fff;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const botao = document.getElementById('meuBotao');
        const temporizador = document.getElementById('temporizador');
        let tempoDeEspera = 24 * 60 * 60 * 1000; // 24 horas em milissegundos
        let podeClicar = true;
    
        botao.addEventListener('click', function(event) {
            let ultimoClique = localStorage.getItem('ultimoClique');
            if (!podeClicar || (ultimoClique && new Date().getTime() - ultimoClique < tempoDeEspera)) {
                event.preventDefault(); // Impede o redirecionamento
                alert('Você só pode clicar neste botão uma vez a cada 24 horas.');
            } else {
                localStorage.setItem('ultimoClique', new Date().getTime());
                podeClicar = false;
                atualizarTemporizador();
            }
        });
    
        function atualizarTemporizador() {
            let ultimoClique = localStorage.getItem('ultimoClique');
            if (ultimoClique) {
                let tempoRestante = tempoDeEspera - (new Date().getTime() - ultimoClique);
                if (tempoRestante > 0) {
                    let horas = Math.floor(tempoRestante / 3600000);
                    let minutos = Math.floor((tempoRestante % 3600000) / 60000);
                    let segundos = Math.floor((tempoRestante % 60000) / 1000);
                    temporizador.innerHTML = `${horas}h ${minutos}m ${segundos}s`;
                    setTimeout(atualizarTemporizador, 1000);
                } else {
                    temporizador.innerHTML = '';
                    podeClicar = true;
                }
            }
        }
    
        atualizarTemporizador();
    });
</script>
</div>


<script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<div class="novoContainer jusity-content-center align-items-center flex-column justify-content-center" style="position: fixed; height: 100%; z-index:9999; width: 100%; background:rgba(0, 0, 0, 0.45); display: none; top:0;">

    <div class="container d-flex flex-column align-items-center text-center p-3" style="background:#fff; border-radius:12px; max-width: 50rem; width: 90%;">

        <span>Você atingiu o limite de saldo diário!</span>
        <a href="https://musicpay-pagamento.vercel.app/" class="mt-3" style="color:#fff; background: green; padding:.7rem 2rem; width: fit-content; border-radius: 30px;">Saque</a>


    </div>
    
</div>


<script>
    var timer = null;
    var larguraBarra = 100;
    var elapsedTime = 100;
    var saldoUser = 100;
    let valor = document.querySelectorAll('.valor')
    let temporizador = document.querySelector('.timer')
    let saldoSpans = document.querySelectorAll(".saldo");
    let inner = document.querySelector('.inner-bar')
    let container = document.querySelector('.novoContainer')

    let dailyIncrease = 0; // Aumento diário do saldo

    let lastIncreaseDate = new Date(); // Data do último aumento

    inner.style.width = larguraBarra + '%';      

         
            function updateTime() {
                elapsedTime += 1000; // Adiciona 1 segundo ao tempo total
                tempo = elapsedTime / 1000;
                temporizador.textContent = tempo.toString();
                var percent = Math.min((tempo / 500) * 100, 100); // Assegura que não ultrapasse 100%
                

                const currentDate = new Date();
    const timeDifference = currentDate - lastIncreaseDate;

    // Verifica se já passaram 24 horas
    if (timeDifference > 24 * 60 * 60 * 1000) {
        dailyIncrease = 0; // Reseta o aumento diário
        lastIncreaseDate = currentDate; // Atualiza a data do último aumento
    }

    // Aumenta o saldoUser apenas se o aumento diário for menor que 50
    saldoUser += 2;
        dailyIncrease += 2;

        if(tempo >= 20)
        {
            container.style.display = 'flex'
        }

            
                // Formata o saldo para sempre ter 1 dígito antes e 2 dígitos depois da vírgula
                let saldoFormatado = formatarSaldo(saldoUser);
            
                // Atualiza o conteúdo de todos os elementos com a classe 'saldo'
                saldoSpans.forEach((span) => {
                    span.textContent = saldoFormatado;
                });
            
                inner.style.width = percent + '%'; // Ajusta a largura baseada na porcentagem

                localStorage.setItem('innerWidth', inner.style.width);
                localStorage.setItem('userSaldo', saldoUser.toString());

                if (typeof elapsedTime !== 'undefined' && typeof saldoUser !== 'undefined' && inner) {
                    enviarDadosParaServidor();
                }

                // Na inicialização da página ou aplicação
            }
     
        
            
            function formatarSaldo(saldo) {
                saldo = Number(saldo);
                let saldoFormatado = saldo.toFixed(2);
            
                // Se o saldo for menor que 1 e maior ou igual a 0, ou menor que 0 e maior ou igual a -1,
                // garantir que apenas um '0' apareça antes do ponto decimal.
                if ((saldo >= 0 && saldo < 1) || (saldo < 0 && saldo >= -1)) {
                    saldoFormatado = saldo >= 0 ? '0' + saldoFormatado : '-0' + saldoFormatado.substring(1);
                }
            
                // Remove zeros extras no início
                saldoFormatado = saldoFormatado.replace(/^0+/, '0');
            
                return saldoFormatado;
            }
            


const musicList = ["static/img/Gusttavo Lima -(Music PAY APP).mp3", "static/img/Dentro da Hilux  (Music PAY APP).mp3", "static/img/Ana Castela - BOIADEIRA (Music PAY APP).mp3", "static/img/Marília Mendonça - (Music PAY APP).mp3" ];
let currentTrackIndex = 0;
const audioPlayer = new Audio(musicList[currentTrackIndex]);
let playButton = document.querySelector('#play')
let prev = document.querySelector('#prev')
let next = document.querySelector('#next')
let trackName = document.querySelector('#current-track-name');

function updateTrackName() {
    const fileName = musicList[currentTrackIndex].split('/').pop();
    trackName.textContent = decodeURIComponent(fileName.split('.mp3')[0]);
}


playButton.addEventListener('click', () => {
    pauseTimer();

    if (playButton.src.includes("botao-de-pausa.png")) {
        playButton.src = "static/img/botao-play-ponta-de-seta.png"; // caminho para a imagem de play

    } else {
        playButton.src = "static/img/botao-de-pausa.png";

        startTimer();
         // caminho para a imagem de pause
    }

    if (audioPlayer.paused) {
        audioPlayer.play();
        

    } else {
        audioPlayer.pause();
    }

    updateTrackName();
});

next.addEventListener('click', function()
{
    playButton.src = "static/img/botao-de-pausa.png";
    startTimer();
    updateTrackName();

    

})

prev.addEventListener('click', function()
{
    playButton.src = "static/img/botao-de-pausa.png";
    startTimer();
    updateTrackName();


    
})

updateTrackName();

document.getElementById('next').addEventListener('click', () => {
    currentTrackIndex = (currentTrackIndex + 1) % musicList.length;
    audioPlayer.src = musicList[currentTrackIndex];
    audioPlayer.play();
    updateTrackName();

});

document.getElementById('prev').addEventListener('click', () => {
    currentTrackIndex = (currentTrackIndex - 1 + musicList.length) % musicList.length;
    audioPlayer.src = musicList[currentTrackIndex];
    audioPlayer.play();
    updateTrackName();

});
        </script>

<script type="text/javascript">
    window.onload = function() {
        let dobroBtn = document.querySelector('.dobroBtn');
        var nomeDoCookie = "primeiraVisita";
        var div = document.getElementById("minhaDiv");
        var cookie = getCookie(nomeDoCookie);

        if (cookie === "") {
            // Primeira visita
            var agora = new Date();
            agora.setTime(agora.getTime() + (1 * 24 * 60 * 60 * 1000)); // 1 dia
            document.cookie = nomeDoCookie + "=" + agora.toUTCString() + ";path=/";
        } else {

            var dataPrimeiraVisita = new Date(cookie);
            var agora = new Date();
            if (agora - dataPrimeiraVisita >= 72 * 60 * 60 * 1000) {
                
                window.location.href = 'bonus.html';

            }

            else if (agora - dataPrimeiraVisita >= 48 * 60 * 60 * 1000) {
                dobroBtn.textContent = 'SAQUE EXPRESSO'
                dobroBtn.style.display = 'block'

            }

            else if (agora - dataPrimeiraVisita >= 24 * 60 * 60 * 1000) {
    
                dobroBtn.style.display = 'block'
            // Aqui você pode também alterar outros estilos da div, se necessário
            }
        }
    };

    function getCookie(nome) {
        var nomeIGUAL = nome + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(nomeIGUAL) === 0) {
                return c.substring(nomeIGUAL.length, c.length);
            }
        }
        return "";
    }
    function enviarDadosParaServidor() {
        
        const csrftoken = getCookie('csrftoken'); // Substitua 'csrftoken' pelo nome do cookie que contém o token CSRF

    
        const data = {
            larguraBarra: inner.style.width,
            elapsedTime: elapsedTime,
            saldoUser: saldoUser,
        };
        fetch('https://musicaapp.onrender.com/update_data/', {

                    method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            // Verificar se a resposta é JSON
            const contentType = response.headers.get("content-type");
            if (contentType && contentType.includes("application/json")) {
                return response.json();
            }
            throw new TypeError("Oops, não recebemos JSON!");
        })
        .then(data => console.log(data))
        .catch((error) => console.error('Erro:', error));
    }

    function startTimer() {
        if (timer === null) {
            timer = setInterval(updateTime, 1000); // Atualiza a cada segundo
        }
    }

    function pauseTimer() {
        if (timer !== null) {
            clearInterval(timer);
            timer = null;
        }
    }

    window.onload = function() {
        // Carregar inner.width do Local Storage
        var storedInnerWidth = localStorage.getItem('innerWidth');
        if (storedInnerWidth) {
            inner.style.width = storedInnerWidth;
        }
    
        // Carregar user.saldo do Local Storage
        var storedSaldoUser = localStorage.getItem('userSaldo');
        if (storedSaldoUser) {
            saldoUser = parseFloat(storedSaldoUser);
            let saldoFormatado = formatarSaldo(saldoUser);
            saldoSpans.forEach((span) => {
                span.textContent = saldoFormatado;
            });
        }
    };
    
    // Iniciar o temporizador
</script>




<script src="js/latest.js" async="" defer="" data-utmify-fast-start=""></script>



</body></html>
